# deps
node_modules

# terraform
**/.terraform

# pnpm
.pnpm-store

# next
**/.next

# env files
.env
.env.*
.env.*local

# storybook
**/web-storybook-static

# Sentry
.sentryclirc

# graphql-codegen generated
**/generated
